/* Importing Framework */
/* Importing All Base Utilities */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

.testdiv {
  max-width: 50em;
  margin: 0 auto;
  background-color: #fff;
}
.testdiv div,
.testdiv p {
  padding: 4em;
  transition: all 0.5s;
}
.testdiv div:hover,
.testdiv p:hover {
  box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.71);
}

.layer {
  text-align: center;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

span,
input,
form,
p,
div,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a {
  margin: 0;
}

/* Importing Layout FIles */
html {
  font-size: 16px;
}

body {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

a {
  color: #1fa635;
  transition: 0.5s all;
  text-decoration: none;
}
a:hover {
  color: #27d15f;
}

li {
  list-style: none;
  list-style-image: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

.testdiv {
  border-radius: 3px;
}

.layer {
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.71);
}
